<MudDialog>
    <DialogContent>
        <MudTextField @bind-Value="CommentInput" Variant="Variant.Outlined"/>
        <div class="d-flex mt-2">
            <MudSpacer/>
            <MudButton Size="Size.Medium" Color="Color.Primary" Variant="Variant.Outlined" OnClick="@Save">
                Add Comment
            </MudButton>
        </div>

        <div style="min-height: 50vh;">
            <MudGrid Spacing="1" Class="pa-0 ma-0" Style="max-height: 50vh; overflow-y: scroll">
                @foreach (var comment in Comments.OrderBy(c => c.Timestamp).Reverse())
                {
                    <MudItem Class="my-0" xs="12">
                        <MudCard Outlined="true">
                            <MudCardHeader Class="ma-1 pa-1">
                                <MudText Typo="Typo.body1">
                                    <b>@Users.First(u => u.EmailAddress.Equals(comment.UserEmailAddress)).Name</b>
                                </MudText>
                                <MudSpacer/>
                                <MudText Typo="Typo.body1">
                                    <b>@comment.Timestamp.ToString("h:mm:ss tt dd/MM/yyyy").ToUpper()</b>
                                </MudText>
                            </MudCardHeader>
                            <MudCardContent Class="ma-1 pa-1">
                                <MudText Typo="Typo.body2">@comment.Content</MudText>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                }
            </MudGrid>
        </div>
    </DialogContent>
</MudDialog>