@page "/"

<Breadcrumb Items="_breadcrumb"/>

<div class="d-block">
    <Customers
        ShowBreadcrumb="false"
        StaticFilter="@StaticIsActiveFilter"
        ShowIsActive="false"
        StateKey="IndexStateKey"/>
</div>