@page "/user"

<button @onclick="GetClaimsPrincipalData">Get ClaimsPrincipal Data</button>
<h1>ClaimsPrincipal Data</h1>

<p>@_authMessage</p>

<p>@_surname</p>

@if (_claims.Count() > 0)
{
    <ul>
        @foreach (var claim in _claims)
        {
            <li>@claim.Type: @claim.Value</li>
        }
    </ul>
}